/*
    Como funciona CSS?
        - Especificidad:
            Establece como de especifico es un selector para saber que estilo aplicar
            El calculo se realiza con la siguiente formula:
                    Etiquetas y pseudoelementos: 001
                    Clases, atributos y pseudoclases: 010
                    id's: 100
                    Estilos en linea: 1000
                    !important: gana a toda la especificidad. no usar.
            - Cascada -> Funciona siempre que la especificidad sobre el elemento sea la misma
            - Herencia -> Es la capacidad que tienen algunos elementos de heredar algunas propiedades de sus elementos contenedores (padres, abuelos, bisabuelos, etc)
*/

h1{
    background-color: red;
}

.title{
    background-color: blue;
}

#title{
    background-color: green;
}

h1 .title{
    background-color: orange;
}

h1#title{
    background-color: teal;
}

h1.title#title{
    background-color: tomato;
}

/* Utilizar siempre clases, para no tener un problema de especificidad. */

/* CSS Specificity Graph Generator: website para colocar tu codigo y ver si esta escrito de una manera especificamente correcta, cuanto menos picos tenga la grafica, mejor sera tu codigo CSS. */

.h1{
    color: inherit; 
    /* propiedad utilizada para forzar herencia con propiedades que no hereden de manera natural. */
}

h1.title{
    color: initial;
    /* estilos por defecto */
}

/* user agent stylesheet: hoja de estilo que trae por defecto los navegadores. dentro de styles en inspeccionar, nos marca que estilos por defecto tiene nuestra etiqueta.

La pestana computed nos dice que estilo se esta aplicando, y cual esta sobreescrito, nos ayuda para saber donde no se esta ejecutando codigo correctamente. */

